.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  color: rgb(47, 105, 71);
}
.hidden {
  display: none;
}
.header__menu {
  font-size: 30px;
}
.header__head {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__head--img {
  font-size: 25px;
  display: flex;
  align-items: center;
}
.header__head--title {
  font-size: 25px;
}
.suggestions {
  font-size: 30px;
}
.header__head--icon {
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .header__menu {
    font-size: 50px;
    margin-top: 40px;
  }
  .header__head {
    display: none;

    &--title {
      display: none;
    }
    &--icon {
      margin-top: 30px;
      font-size: 55px;
    }
  }
  .hidden {
    display: unset;
    font-size: 35px;
  }
}
span {
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  span {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding-left: 3rem;

    display: flex;
    justify-content: space-between;
  }
  .hidden {
    margin-right: 20rem;
  }
}
@media screen and (min-width: 1440px) {
  .hidden {
    margin-right: 30rem;
  }
}
