.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(33, 164, 164);
  width: 100%;
  height: 50%;
}
.header__menu {
  font-size: 30px;
}
.header__head {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.header__head--img {
  font-size: 25px;
}
.header__head--title {
  font-size: 25px;
}
.suggestions {
  font-size: 30px;
}
.header__head--icon {
  font-size: 25px;
}
