.overview-card {
  height: 100vh;
  &__content {
    padding: 1.5rem;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-around;
  }
  &__stats {
    display: flex;
    justify-content: center;
    color: grey;
    & > * {
      margin-left: 30px;
    }
  }
  &__head {
    text-align: center;
    font-size: 28px;
    color: rgb(69, 10, 87);
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 45%;
    font-size: 10px;
    > * {
      font-size: 16px;
    }
    &--tag {
      margin-top: 20px;
      color: rgb(134, 95, 5);
      font-size: 15px;
    }
    &--date {
      color: rgb(134, 95, 5);
      margin-bottom: 10px;
    }
    &--text {
      color: rgb(69, 10, 87);
      margin-bottom: 10px;
    }
    &--food {
      color: rgb(169, 35, 57);
      &--head {
        color: rgb(88, 5, 5);
        font-size: 18px;
      }
    }
  }
  &__img {
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 1rem;
  }
}
.home-link {
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  padding: 8px;
  color: black;
  text-decoration: none;

  &__container {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .home-link__container {
    margin-left: 6rem;
  }
  .overview-card {
    &__img {
      width: 40%;
    }
    &__head {
      font-size: 55px;
    }
    &__stats {
      font-size: 25px;
      justify-content: center;
      margin-left: 4rem;
      & > * {
        margin-left: 30px;
      }
    }
    &__info--date {
      font-size: 25px;
    }
    &__info--text {
      font-size: 25px;
    }
    &__info--tag {
      font-size: 35px;
    }
    &__info--food {
      font-size: 25px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .overview-card {
    height: 100vh;
    &__img {
      width: 20%;
    }
  }
}
@media screen and (min-width: 1440px) {
  .overview-card {
    &__img {
      width: 15%;
    }
  }
}
@media screen and (min-width: 2560) {
  .overview-card {
    &__img {
      width: 10%;
    }
  }
}
