@use "./styles/layout";
@use "./styles/reset";
@use "./styles/typography";
@use "./styles/variables";
.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(201, 210, 244);
}
